@charset "iso-8859-1";
/* CSS Document */
body, td, th, input, textarea, select  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align:left;
}
fieldset{
	color:#47370B;
	border: 1px solid #e4e4db;
	padding:10px;
	margin-bottom:10px;
}
fieldset legend {
	font-weight:bold;
}
label {
	font-style: italic;
	display:block;
	float:left;
	width: 130px;
	height: auto;
}

textarea{
	vertical-align:top;
}
input[type="radio"], input[type="checkbox"] {
	vertical-align:middle;
}
table {
	border-spacing:2px 0;
	width: 100%;
}
td,th,caption{
	padding:3px;
	border-bottom:1px dotted #CCC;
	/*font-size:90%;*/	
}
th, th a {
	font-weight:bold;
	background-color:#c9c3bb;
	color:#47370B;
	text-decoration:none;
}
th a:hover { text-decoration:underline; color: #A37C18; }
tr:nth-child(even) {background: #F8F8F8}
tr:nth-child(odd) {background: #e4e4db}
caption {
	text-align:center;
	border:none;
	font-size:80%;
}
a {
	border-bottom: 0px;
	color:#0f67a1;
}
a:focus {
	outline: 1px dotted #eee;
}
a:active {
	outline: 0px;
}
a:hover {
	color: #7bc4f4;
}
ul {
	list-style:square outside  url(../img/square.gif);
	margin:10px;
	padding:0 15px;
}
ul li {
	padding:2px;
}

body  {
	background: url(../img/bg.jpg) repeat-x 0px 0px/*#101d47*/;
	margin: 0 10px 10px;
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
}
/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
*/
.twoColElsLtHdr #container { 
	width: 100%;
	background: #0e1e5d;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
} 
.twoColElsLtHdr #header { 
	background: #101d47 url(../img/bg.jpg) repeat-x 0px 0px; 
	padding: 0;
	margin: 0;
}
.twoColElsLtHdr #content {
	background-color:#0e1e5d;
	padding:10px;
	margin:0;
}
/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
*/
.oneColElsLtHdr #container { 
	width: 100%;
	background: #0e1e5d;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
} 
.oneColElsLtHdr #header { 
	background: #101d47 url(../img/bg.jpg) repeat-x 0px 0px; 
	padding: 0;
	margin: 0;
}
.oneColElsLtHdr #content {
	background-color:#0e1e5d;
	padding:10px;
	margin:0;
}
.oneColElsLtHdr #mainContent {
	margin: 0 0 0 0; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
	padding:10px;
	background:#fff;
}
/* Tips for sidebar1:
1. Be aware that if you set a font-size value on this div, the overall width of the div will be adjusted accordingly.
2. Since we are working in ems, it's best not to use padding on the sidebar itself. It will be added to the width for standards compliant browsers creating an unknown actual width. 
3. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColElsLtHdr #sidebar1 p" rule.
*/
.twoColElsLtHdr #sidebar {
	float: left; 
	width: 195px; 		/* since this element is floated, a width must be given */
	background: #fff; 	/* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0; 		/* top and bottom padding create visual space within this div */
}
.twoColElsLtHdr #sidebar h3, .twoColElsLtHdr #sidebar p {
	margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

/* Tips for mainContent:
1. If you give this #mainContent div a font-size value different than the #sidebar1 div, the margins of the #mainContent div will be based on its font-size and the width of the #sidebar1 div will be based on its font-size. You may wish to adjust the values of these divs.
2. The space between the mainContent and sidebar1 is created with the left margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.
3. To avoid float drop, you may need to test to determine the approximate maximum image/element size since this layout is based on the user's font sizing combined with the values you set. However, if the user has their browser font size set lower than normal, less space will be available in the #mainContent div than you may see on testing.
4. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This avoids several IE-specific bugs that may occur.
*/
.twoColElsLtHdr #mainContent {
	margin: 0 0 0 205px; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
	padding:10px;
	background:#fff;
}
.twoColElsLtHdr #mainContent_large {
	margin: 0; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
	padding:10px;
	background:#fff;
} 
.twoColElsLtHdr #footer {
	margin:0;
	padding: 0; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#0d1b44;
	text-align:center;
} 
.twoColElsLtHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 5px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	color: #CCC;
	font-size:60%;
}

/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Tahoma, Geneva, sans-serif !important;
	padding:5px 0;
	margin:0 0 10px;
	letter-spacing: 0;
	border-bottom: 1px solid #e4e4db;
}
h1, h2, h3 {
	color:#47370B;
}
h4, h5, h6 {
	color:#7D4B24;
}
.mamute{	
	background: url('../img/mamute_p.png') no-repeat 0px 5px;
	padding-left: 55px;
	color: #664f10;
}
.txt_right {
	text-align:right;
}
.txt_center {
	text-align:center;
}
.pare {
	color:red;
}
.atencao{
	color: #DDB000;
}
.atencao_lar {
	color:#FF6600;
}
.siga{
	color:green;
}
.busca {
	/*font-size:90%;*/
}
.ico{
	padding: 0px 0px 0px 20px;
}
.add {
	background: url(../img/icons/add.png) no-repeat 0px 1px;
}
.desativar{
	background:url(../img/icons/disconnect.png) no-repeat 0px 1px;
}
.ativar{
	background:url(../img/icons/connect.png) no-repeat 0px 1px;
}
.excluir{
	background:url(../img/icons/cross.png) no-repeat 0px 1px;
}
.substituir {
	background:url(../img/icons/group.png) no-repeat 0px 1px;
}
.historico {
	background:url(../img/icons/note.png) no-repeat 0px 1px;
}
.avisos {
	background:url(../img/icons/star_1.png) no-repeat 0px 1px;
}
.atualizar {
	background:url(../img/icons/arrow_refresh.png) no-repeat 0px 1px;
}

.pdf {
	background:url(../img/icons/doc_pdf.png) no-repeat 0px 1px;
}
.word {
	background:url(../img/icons/page_white_word.png) no-repeat 0px 1px;
}
.excel {
	background:url(../img/icons/page_white_excel.png) no-repeat 0px 1px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 10px;
    padding:5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/icons/exclamation.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/icons/accept.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/icons/error.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/icons/cross_octagon.png');
}
.hidden {
	display:none;
}
.campos_obrigatorios{	
	text-align: right; color: #000000; font-size: smaller;
}
/* para os formulários de inscrição */
	.inscricao		label 								{ width: 260px; display:inline-block; float:left;   }
	.inscricao		p									{ clear: left; }
/*	.inscricao		input[type="text"], textarea		{ width: 400px; } */
	.inscricao		textarea 							{ height: 150px; }
	.login			label 								{ width: 200px; }
	.clear_block 	label 								{ width: auto; float: none; display: inline}
	.grupo-anos-checkboxes 								{ display:table; }
	.grupo-anos-checkboxes p 							{ width:80px; float:left; clear:none; padding:0; margin: 2px; }
	.erro 												{ color:#D8000C; margin: 10px; display: block;  }
	
/* para os formulários de valores */
	.valores		label 								{ width: 120px; display:inline-block; float:left;   }
	.valores		p									{ clear: left; }
/*	.valores		input[type="text"], textarea		{ width: 400px; } */
	.valores		textarea 							{ height: 150px; }
	
	